body 
{
	background: #000000;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

div 
{
	position: relative;
}

textarea, input
{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	resize: none;
}

#document 
{
	background: #FFFFFF;
	color: #000000;
	padding: 10px;
}

#document ol, ul
{
	font-weight: bold;
}

#document ol li, ul li
{
	padding: 10px;
	font-weight: normal;
}

#document b.a
{
	font-weight: normal;
}

#document b.a::before
{
	font-weight: bold;
	content: "A : ";
}

#document b.q
{
	display: block;
	margin-bottom: 8px;
}

#document b.q::before
{
	content: "Q : ";
}

#main-container 
{
	left: 10%;
	width: 80%;
	/*top: 150px;*/
}

#footer
{
	margin-top: 10px;
	margin-bottom: 10px;
	background: #FFFFFF;
	padding: 10px;
}

#navigation 
{
	width: 90%;
	font-size: 30px;
	text-align: right;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	word-spacing: 20px;
}

#navigation a, a:visited, a:hover
{
	color: #FFFFFF;
}

.navigation-element 
{
	display: inline-block;
	padding: 10px;
	border: 2px solid #FFFFFF;
	cursor: pointer;
}

.navigation-element:hover
{
	color: #000000;
	background-color: #FFFFFF;
}

.align-center
{
	text-align: center;
}

.dark-circle
{
	border-radius: 50%;
	background: #000000;
	height: 40px;
	width: 40px;
	display: inline-block;
}

.delete {
	border: none;
	color: #000000;
}

.delete:hover
{
	cursor: pointer;
}

.delete-form
{
	position: relative;
	display: inline-block;
	left: 1em;
}
