body
{
	margin: 0px;
	padding: 0px;
	font-family: 'B612', sans-serif;
	background: #251E1F;
	color: #FEFAC5;
}

div
{
	position: relative;
}

#document
{
	/*width: 70em;*/
	width: 1120px;
	margin: 0 auto;
}

#navigation, #navigation-sticky
{
	background: #251E1F;
	overflow: hidden;
}

#navigation a, #navigation-sticky a
{
	color: #FEFAC5;
	text-decoration: none;
	display: block;
	float: right;
	text-align: center;
	padding: 0.75em 1em;
	font-size: 1.5em;
	border-bottom: 4px solid transparent;
}

#navigation a:hover, #navigation-sticky a:hover
{
	border-bottom: 4px solid #F03D36;
}

#navigation-sticky
{
	position: fixed;
	width: inherit;
	top: -70px;
	transition: top 0.5s;
	z-index: 1;
	border-bottom: 3px solid #FEFAC5;
}

#banner 
{
	padding: 4em 0em;
	height: auto;
	text-align: center;
}

#main
{
	padding: 4em 0em;
}


#projects
{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 1em;
	grid-gap: 2em;
}

.project
{
	border: 3px solid ;
	padding: 1em;
	font-size: 2em;
	text-align: center;
	border-radius: 0.5em;
}

.section
{
	box-shadow: 4px 4px 5px #150E0F;
	border-top: 4px solid #F03D36;
	padding: 2em;
	position: relative;
}

.circle-icon-container
{
	width: 12em;
	height: 12em;
	border: 3px solid #FEFAC5;
	border-radius: 100%;
	display: inline-block;
}

.text-block
{
	display: inline-block;
	font-size: 18px;
	width: 50%;
	left: 4em;
	text-align: left;
}

.centered
{
	text-align: center;
}

.vspace
{
	padding: 1em 0em;
}

@media screen and (max-width: 600px)
{
	#document
	{
		width: 100%;
	}
	
	#projects
	{
		grid-template-columns: none;
	}

	.text-block
	{
		left: 0em;
	}

	.text-block h1
	{
		text-align: center;
	}

}

/* Camdy 
#251E1F //Black
#F03D36 //Red
#FEFAC5 //White
*/
