body
{
	margin: 0px;
	padding: 0px;
	font-family: 'B612', sans-serif;
	background: #251E1F;
	color: #FEFAC5;
}

div
{
	position: relative;
}

#navigation
{
	background: #251E1F;
	overflow: hidden;
	width: 70em;
	margin: 0 auto;
}

#navigation a
{
	color: #FEFAC5;
	text-decoration: none;
	display: block;
	float: right;
	text-align: center;
	padding: 0.75em 1em;
	font-size: 1.5em;
	border-bottom: 4px solid transparent;
}

#navigation a:hover
{
	border-bottom: 4px solid #F03D36;
}

#banner 
{
	padding: 10em;
	width: 70em;
	margin: 0 auto;
}

#profile-container
{
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
}

#main
{
	padding: 4em 12em;
	width: 70em;
	margin: 0 auto;
}

#projects
{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 1em;
	grid-gap: 2em;
}

.project
{
	border: 1px solid ;
	padding: 1em;
	font-size: 2em;
	text-align: center;
	border-radius: 0.5em;
}

.section
{
	box-shadow: 4px 4px 5px #150E0F;
	border-top: 4px solid #F03D36;
	padding: 1em;
	position: relative;
}

.circle-icon-container
{
	width: 12em;
	height: 12em;
	border: 3px solid #FEFAC5;
	border-radius: 100%;
	display: inline-block;
}

.text-block
{
	display: inline-block;
	font-size: 18px;
	width: 50%;
	float: right;
}

.centered
{
	text-align: center;
}

.vspace
{
	padding: 1em 0em;
}


/* Camdy 
#251E1F //Black
#F03D36 //Red
#FEFAC5 //White
*/
